:root{
  --mainBlue : #2a2a72;
  --lightBlue : #009ffd;
  --mainWhite : #f3f3f3;
  --mainDark : #232528;
  --mainYellow : #ffa400;
  --offGrey : #35424a;
  --secondaryColor : #ef8172;
  --primaryColor: #af9a7d;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --darkGrey: #cfcfcf;
}

body {
  font-family: 'Montserrat', sans-serif !important;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}

.show-nav {
  height: 40vh;
}

.text-title {
  font-family: 'Ubuntu',cursive;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.text-blue {
  color : var(--mainBlue);
}
.text-bright {
  color: var(--lightBlue);
}

.btn-black {
  background: transparent;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  color : var(--mainDark);
  border-radius: 0 !important;
  border: 0.1rem solid var(--mainDark) !important;
}

.btn-black:hover {
  background: var(--mainDark) !important;
  color: var(--mainWhite) !important;
}

.cart-icon {
  cursor: pointer;
  font-size: 1.2rem;
  color : var(--mainYellow);
}

.empty-search {
  text-align: center;
  text-transform: capitalize;
  margin: 2rem 0;
  padding: 1rem;
  letter-spacing: var(--mainSpacing);
}

.filter-container {
  padding: 0.5rem 0;
}
.filter-form {
  width: 60vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 40px;
}

.footer{
  padding: 40px 20px 10px;
  background: var(--mainBlue);
  color: #fff;
}

.footer p{
  font-size: 12px;
  text-align: justify;
  padding-right: 35px;
}


.footer hr{
  margin-top: 10px;
  background: var(--lightBlue);
}

.footer-icon{
  margin: 0 5px;
  color: var(--mainYellow);
}

.footer .copyright{
  text-align: center;

}
